# CONFIG BASE
SPRING_SERVER_PORT=
QUERY_LIMIT_WARNING_MS=

# CONFIG DATABASE
SPRING_PROFILES_ACTIVE=
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

# MySQL Docker Configuration
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# JWT
JWT_SECRET_KEY=
JWT_EXPIRATION=

# Email (SendGrid)
SENDGRID_API_KEY=
FROM_EMAIL=

# Cloudinary
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_SECRET_KEY=

#ADMIN
ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_FIRSTNAME=
ADMIN_LASTNAME=
ADMIN_EMAIL=

# VNPAY CONFIG
VNPAY_URL=
VNPAY_RETURN_URL=
VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=
VNPAY_API_URL=
VNPAY_VERSION=
VNPAY_COMMAND=
VNPAY_MAXTIME=
VNPAY_ORDER_TYPE=
VNPAY_CURRCODE=
VNPAY_LOCALE=

# Logging (prod)
LOGGING_LEVEL_ROOT=
LOGGING_LEVEL_COM_EXAMPLE_HAUS=
LOGGING_LEVEL_ORG_SPRINGFRAMEWORK=
LOGGING_LEVEL_ORG_HIBERNATE=
LOGGING_FILE_NAME=
LOGGING_ROLLING_FILE_NAME_PATTERN=
LOGGING_ROLLING_MAX_FILE_SIZE=
LOGGING_ROLLING_MAX_HISTORY=
LOGGING_ROLLING_TOTAL_SIZE_CAP=
LOGGING_ROLLING_CLEAN_HISTORY_ON_START=
LOGGING_STRUCTURED_SERVICE=
LOGGING_STRUCTURED_ENV=
LOGGING_STRUCTURED_VERSION=
