# CONFIG BASE
SPRING_SERVER_PORT=
QUERY_LIMIT_WARNING_MS=

# CONFIG DATABASE
SPRING_PROFILES_ACTIVE=
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

# MySQL Docker Configuration
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# JWT
JWT_SECRET_KEY=
JWT_EXPIRATION=

# Email (SendGrid)
SENDGRID_API_KEY=
FROM_EMAIL=

# Cloudinary
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_SECRET_KEY=

#ADMIN
ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_FIRSTNAME=
ADMIN_LASTNAME=
ADMIN_EMAIL=